@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
p {
  color: #707070;
}
a {
  text-decoration: none;
}
section {
  margin: 40px 0px;
  margin-top: 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: 0 auto;
}
/* This is header section start */
section#navBar {
  background-color: #f5f5f5;
  padding: 10px 0px;
}
.navWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  width: 20%;
}

.navLogo img {
  width: 100%;
}
#menu {
  display: block;
  font-size: 20px;
  cursor: pointer;
}
nav.navList ul {
  display: none;
}

/* This is header section end */
/* this is main section start */
/* This is slider section start */
#slider {
  background-image: url(../bg/bg-1.png), url(../bg/bg-2.png);
  background-repeat: no-repeat;
  background-position: right, left bottom;
}
.sliderWrap {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 20px;
}
.singleSlide {
  width: 100%;
}
.sliderImg {
  display: flex;
  justify-content: flex-end;
}
.sliderImg img {
  max-width: 100%;
}

.singleSlide h2 {
  font-weight: 300;
}

.singleSlide p {
  font-size: 14px;
  text-align: justify;
  padding: 20px 0px;
}
button#primaryBtn {
  color: white;
  background-color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button#primaryBtn i {
  padding-left: 5px;
  font-size: x-small;
}
/* This is slider section end */
/* This is smart phone section start  */
.smartPhoneWrap {
  display: flex;
  flex-flow: column wrap;
}
.itemsWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemsWrap h1 {
  font-size: 20px;
  font-weight: 400;
}

.itemsWrap a {
  color: #ff9d00;
  font-size: 14px;
  font-weight: 400;
}
.singlePhone {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0px 0px 10px 0px #ddd;
  border-radius: 10px;
}

.singlePhone img {
  width: 100%;
}
.singlePhone h2 {
  font-weight: 700;
  padding: 20px 0px;
  font-size: 14px;
}

.singlePhone p {
  text-align: center;
  font-size: 12px;
}
/* This is smart phone section end  */
/* This is category section start */
.singleCate {
  width: 100%;
  margin-bottom: 35px;
}
.categoryWrap {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.twoCate {
  display: flex;
  justify-content: space-evenly;
}

.oneCate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cate span {
  font-size: 12px;
}
.cate {
  width: 30%;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  box-shadow: 0px 0px 10px 0px #ddd;
  border-radius: 40px 5px 20px 5px;
  margin: 20px 0px;
  padding: 25px;
}

.cateImg {
  max-width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -0%);
}
.cateImg img {
  max-width: 50%;
}
.paleOrder {
  display: flex;
  justify-content: flex-end;
}
.paleOrder img {
  max-width: 100%;
}
/* This is category section start */
/* this is main section end */
small {
  display: block;
  text-align: center;
  padding: 20px 0px;
}
