@media only screen and (min-width: 768px) {
    .navLogo {
    width: 10%;
}

.navLogo img {
    width: 100%;
}
#menu{
    display: block;
    font-size: 25px;
}
/* This is slider section start */
#slider{ 
    background-position: center , left bottom;
}
.sliderWrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
}
.sinleSlide {
    width: 47%;
}
/* This is slider section end */
/* This is smart phone section start  */
.smaratPhoneWrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.singlePhone{
    width: 47%;
}

.sinleCate {
    width: 47%;
}
.categoryWrap{
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

/* This is smart phone section end  */
}